<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="header">
		<div class="homepage"><%= link_to "Home Page", root_path%></div>
		<div class="nav">
			<% if user_signed_in? %>
			    <span>Здравствуйте, <%=link_to current_user.email, user_path(current_user) %></span>
			    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
			<% else %>
			    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
			<% end %>
		</div>
	</div>
	<%= yield %>
</div>
</body>
</html>
